html {
    min-height: 100%;
}

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}

.mt-15 {
    margin-top: 15px;
}

.m-auto {
    margin: 0 auto;
}