.form {
  display: flex;
  align-items: center;

  &-group {

    &:not(:last-child) {
      margin-right: 50px;
    }

    .title {
      margin-bottom: 2px;
      text-align: center;
      font-weight: bold;
    }

    .action {

    }
  }

  .input {
    height: 28px;
  }

  .btn {
    margin-left: auto;
    height: 28px;
    width: 100px;
    background-color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
